#grain_dscard_remember_message { 
	font-weight: bold; 
	padding: 10px 0; 
	font-size: 14px; 
	line-height: 22px;
	}
	#grain_dscard_remember_message.wait { 
		color: #AAA;
		padding-left: 25px;
		background: url(images/ajax-loader.gif) left center no-repeat;
	}
	#grain_dscard_remember_message.success { 
		color: green;
	}
	#grain_dscard_remember_message.error { 
		color: #d40000;
	}

#grain_dscard_remember h2 {
	padding: 10px 0 4px 0; 
	margin: 0;
}

#grain_dscard_remember input[type="text"],
#grain_dscard_remember input[type="password"],
#grain_dscard_remember textarea,
#grain_dscard_remember select{
	background: #fff;
	border: 1px solid #c1c5c8;
	border-radius: 2px;
	color: #000;
	box-shadow: inset 2px 2px 2px -1px rgba(180,188,191,0.5);
	display: inline-block;
	outline: none;
	vertical-align: middle;
	font-size: 14px;
	padding: 6px 8px;
	width: 200px;
}

#grain_dscard_remember .grain-dscard-remember-caption {
	font-size: 16px;
	line-height: 22px;
	padding-top: 10px; 
}

#grain_dscard_remember .grain-dscard-remember-caption-green {
	color: green;
}